*.o
*.so
*.lib
*.pyc

*.tar
*.tgz

*.log
*.pdf
*.png
*.eps

*.root
*.copy
#*.txt
*.tmp

*.ini
!hbtfit.ini

*Graph.py
!/txt2rootGraph.py

therm2/*
!therm2/build
therm2/build/*
!therm2/build/src
therm2/build/src/*
!therm2/build/src/therm2_hbtfit/cxx
