*.o
*.so
*.lib
*.pyc
*~
*.swp

*.tar
*.tgz

*.log
*.pdf
*.png
*.eps

*.root
*.copy
*.txt
*.tmp

*.ini
!hbtfit.ini
tmp_hbtfit*

ARCHIVE/*

# adds therm2_hbtfit.cxx as only modified file from original therm2
therm2/*
!therm2/build
therm2/build/*
!therm2/build/src
therm2/build/src/*
!therm2/build/src/therm2_hbtfit.cxx
